body{
    background-color: beige;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #472b02;
}

.main{
    margin-left: 20px;
}
h1{
    text-align: center;
    font-size: 400%;
}

.top{
    display: flex;
    justify-content: space-around;
}

h2{
    text-align: center;
    font-size: 300%;
}

h3{
    font-size: 250%;
}
p{
    font-size: 200%;
}
.obraz-kawa{
    height: 400px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

li{
    font-size: 200%;
}

.przycisk {
    background-color: #2b1801;
    padding: 14px 25px;
    border-radius: 20px;
    color: beige;
    text-decoration: none;
}
.przycisk:hover{
    background-color: #6e3c00;
    padding: 14px 25px;
    border-radius: 20px;
    color: beige;
    text-decoration: none;
}
footer{
    text-align: center;
}
.kontakt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 680px){

    .main{
        margin-left: 10px;
    }
    .obraz-kawa{
        height: 340px;
        margin-left: 10px;
        margin-bottom: 10px;
        float:none;
    }

    .opis{
        display: flex;
        flex-direction: column;
    }
    .zdjecie{
        align-self: center;
    }
    .przycisk{
        padding: 10px 15px;
        background-color: #2b1801;
        border-radius: 20px;
        text-decoration: none;
        color: beige;
    }
    .przycisk:hover{
        background-color: #6e3c00;
        padding: 10px 15px;
        border-radius: 20px;
        color: beige;
        text-decoration: none;
    }

    h2{
        text-align: center;
        font-size: 200%;
    }
    
    h3{
        font-size: 150%;
    }
    p{
        font-size: 150%;
    }
    li{
        font-size: 150%;
    }
}